<h1><%= @user.username %>s' profile page!</h1>
<p><%= image_tag @profile.image.medium.url %></p>
<p>Email: <%= @user.email %></p>
<p>About me: <%= @profile.bio %></p>

<p>Add a location?</p>
<p><%= link_to "Add Location", new_location_path(name: "profile") %></p>

<% if @profile.subjects.count >= 1 %>
  <p>Add another subject?</p>
<% else %>
  <p>What are you even doing?..add some subjects!</p>
<% end %>
<p><%= link_to "Add subject", new_subject_path(name: "profile") %></p>
<%# link_to "Add Location", new_location_path(name: "teacher") #%>

<% if @profile.location %>
  <p><%= render @profile.location %></p>
<% end %>

<% if @profile.subjects %>
  <%= render @profile.subjects %>
<% end %>


<%= link_to "Back", home_path %>
